
.row{
	clear:both;/* deals with column floats */
	padding:1px;
}
.row:first-child > .cell{
	border-top:2px solid #ffd700;
}
.cell{
	padding:5px;
	border-right:2px solid #ffd700;/* outline grid for visibility*/
	border-bottom:2px solid #ffd700;
	border-top:2px solid #ffd700;
	float:left; /* or display inline - either would probably work. */
	width:50px;
	height:50px;
}

body {
	width: 500px; /*centers the table (need to get a div value)*/
	margin: 0 auto;
}


.cell:first-child{
	border-left:2px solid #ffd700;
}

.playerone {
	background-image:url('Images/black.png');
	background-size:60px 60px;	
}

.playertwo {
	background-image:url('Images/red.png');
	background-size:60px 60px;

}


#board{
	width:500px;
	margin: 0 auto;
}
